#lines {
  	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  	white-space: nowrap;
  	z-index: -99;
  	color:green;

    -webkit-filter: blur(2px);
  	-moz-filter: blur(2px);
  	-o-filter: blur(2px);
  	-ms-filter: blur(2px);
  	filter: blur(2px);

  	-moz-user-select: none; 
  	-khtml-user-select: none; 
  	-webkit-user-select: none; 
  	-o-user-select: none; 
    
}

@-moz-document url-prefix() {
    #lines{
    opacity: 0.4;
}
}

a:-webkit-any-link {
  color: inherit;
}

#overlay {
	z-index: -100;
	position: absolute;
	top: 100px;
  width: 100%;
}

#topbar {
  z-index:100;
  position:absolute;
  width: 100%;
  top:0px;
  left:0px;
  background-color:white;
  height: 30px;
  font-family: 'Open Sans';
}

#headr {
  color: transparent;
  font-size: 100px;
  font-weight:bold;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;

  font-family: 'Open Sans';

  
  text-shadow: 0 0px 10px rgba(255, 255, 255, 1.0);
}

#rapper {
  width: 100%;
  overflow:hidden;
}

#bottomhalf {
  width: 80%;
  height: 300px;
  z-index: 100;
  position: absolute;
  top: 300px;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
}

#console {
  width: 96%;
  height: 250px;
  margin: 2%;
  padding: 10px;
  color: rgb(27, 236, 27);
  font-family: 'Cousine';
  overflow-y: scroll;
}

.blue {
  color: #55acee;
}

.red {
  color: red;
}

.consoleLine {
  overflow: hidden;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
}

body {
	background-color: black;
  margin: 0px;
  overflow: hidden;
}